<li>
	<%= content_tag( 'h2', link_to( review.title, review_show_url( :review => review ) ) ) %>
	<%= content_tag( 'p', "Reviewed by Sam on: #{review.published_on.strftime( '%d-%m-%Y' )} with an overall score of #{review.score}" ) %>
</li>